.head {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ceccd4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90; /* Should be lower than backdrop */
}

.head nav {
    height: 100%;
    align-items: center;
    display:flex;
    flex-direction: row;
}
.logoName{
    width:36%;
}
.navButton{
    background-color:transparent;
    display: block;
    width:fit-content;
    margin-right: 10px;
}